{{ extends "theme.layout.master" }}

{{ section "content" }}
<div class="panel welcome">
    <h3>We&rsquo;re stoked you want to try Lexicon! </h3>
    <p>
        To get started, click through the examples on the left.
        Each example, shows the data, the template and the resulting content.
        You can also go through the view files within this sandbox application,
        start changing stuff and playing around with the results.
    </p>
    <p>
        We will keep adding more examples to this demo.
    </p>
</div>
{{ stop }}