<div class="row">
    <div class="large-12 columns">
        <div class="panel">

            <div class="row">
                <div class="large-4 medium-4 columns">
                    <p><a href="http://lexicon.anomaly.is" target="lexicon_documentation">Lexicon Documentation</a><br/>Everything you need to
                        know about using this awesome template engine.</p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p><a href="http://github.com/anomalylabs/lexicon" target="lexicon_github">Lexicon on Github</a><br/>Latest code, issue
                        reports, feature requests and more.</p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p><a href="https://forum.pyrocms.com/discussion/25907/lexicon-template-engine-beta-release" target="lexicon_discussion">Forum Discussion</a><br/>Ping us on the forum if you
                        have questions.</p>
                </div>
            </div>
        </div>
    </div>
</div>