<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="css/foundation.css"/>
<style>

    .panel {
        padding: 20px;
    }

    .data {
        background: #6A502F;
        color: white;
    }
    pre {
        font-size: 18px;
    }
    .data h5 {
        color: #877052;
    }

    .location {
        background: #CDBAA0;
    }

    .example {
        background: #F9ECDB;
    }



</style>
<script src="js/vendor/modernizr.js"></script>