$data = [
    'books' => [
        [
            'title' => 'Laravel: From Apprentice to Artisan',
            'author' => [
                'name' => 'Taylor Otwell',
            ]
        ],
        [
            'title' => 'Laravel Testing Decoded',
            'author' => [
                'name' => 'Jeffrey Way',
            ]
        ],
        [
            'title' => 'Build APIs You Won\'t Hate',
            'author' => [
                'name' => 'Phil Sturgeon',
            ]
        ],
    ]
];